.exploreSection {
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.exploreHeader {
  width: 100%;
  height: 20vh;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto 0;
}
.TextexploreHeader {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto 0;
}
.exploreHeader .TextexploreHeader .exploreHeaderMini {
  font-size: clamp(1.5rem, 4vw, 2.4rem);
  font-weight: 600;
  letter-spacing: 5%;
  line-height: clamp(1.9rem, 4vw, 3.1rem);
  color: var(--red);
  font-family: "Crimson Text", serif;
}
.exploreHeader .TextexploreHeader .exploreHeaderH {
  font-size: clamp(4rem, 4vw, 6rem);
  color: var(--black);
  font-weight: 400;
  line-height: clamp(4.8rem, 4vw, 7.2rem);
  font-family: "Inter", sans-serif;
  text-align: start;
}

.exploreHeader .TextexploreHeader .exploreHeaderParagraph {
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  color: var(--black);
  font-weight: 400;
  line-height: clamp(1.9rem, 4vw, 2.1rem);
  font-family: "Inter", sans-serif;
  text-align: start;
  padding-top: 2vw;
}

.exploreHeader .btnexploreHeader {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.exploreHeader .btnexploreHeader svg {
  font-size: 3.5rem;
  color: var(--beij);
}
